.Home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.Home__userProfile {
  padding-left: 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: gray;
}

.Home__userProfile_info {
  padding-left: 10px;
}

.Home__logout {
  margin-right: 20px;
}

.Home__buttons {
  display: flex;
}

.Home__files {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: bisque;
}

.Home__modal__buttons {
  display: flex;
}
