.FileCard {
  margin-bottom: 20px;
  margin-right: 20px;
}

.FileCard__buttons {
  display: flex;
}

.FileCard__delete {
  margin-right: 20px;
}

.FileCard__modal__buttons {
  display: flex;
}

.FileCard__modal__close {
  margin-right: 20px;
}
